:root {
    --digit-button-bg-color: #f0f0f0;
    --digit-button-font-color: #000;
    --operation-button-bg-color: #e67e22;
    --operation-button-font-color: #fff; 
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.3em;
    background-color: var(--digit-button-bg-color);
    color: var(--digit-button-font-color);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.tripple {
    grid-column: span 3;
}

.button.operation {
    background-color: var(--operation-button-bg-color);
    color: var(--operation-button-font-color)
}

.button.operation:active {
    background-color: #e67e22cc;
}